body{
background-color:#D0B8A8 ;


}


.nav{
    height: 50px;
    width: 100%;
    background-color:#8D493A ;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#about,#services,#contact,#work{
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        color:#D0B8A8 ;
        margin-right: 20px;
        margin-top: 15px;
        margin-left:50px ;
        text-align: center;
}

#work:hover{
    color: black;
}

#contact:hover{
    color: black;
}

#services:hover{
    color: black;
}

#about:hover{
    color: black;
}

.parent{
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: antiquewhite;
    margin-top: 10px;
    flex-wrap: wrap;
}


.container{
    margin-top: 110px;
    margin-left: 40px;
}

#text,#font{
font-family: "Oswald", sans-serif;
font-size: 50px;
}

#text{
    color:#8D493A;
}

#font{
    box-shadow: 5px 5px 5px grey;
}

.container2{
    margin-top: 120px;
    margin-right: 40px;
    display:block;
   
}

img{
   
    border-radius: 60%;
   margin-right:40px;
}

img:hover{
    border: 2px solid black ;
}

.parent2{
    height:250px;
    width: 100%;
    background-color:antiquewhite ;
    margin-top: 35px;
    display: flex;
    flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
   

}

.box{
    
    height:120px;
    width: 230px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 70px;
    background-color:#8D493A ;
   
    
}

#java,#html,#css,#boots{
    font-family: "Oswald", sans-serif;
    color:antiquewhite;
    font-weight: lighter;
    font-size: 20px;
    -webkit-text-stroke: 0.8px
    
}

.box:hover{
    border: 2px solid grey;
    box-shadow: 5px 5px 5px grey;
}

.parent3{
    height:500px;
    width: 100%;
    background-color:antiquewhite ;
    margin-top: ;
}

h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

b{
    color:#8D493A;
}

#contactme{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.form{
    margin-top: 15px;

}

input[type=text],input[type=email],input[type=number]{
    height:40px;
    width:400px;
    border:3px solid #8D493A;
    border-radius: 10px;
    background-color: #D0B8A8;

}

input[type=text]:hover{
    box-shadow: 3px 3px 3px black;
}

input[type=number]:hover{
    box-shadow: 3px 3px 3px black;
}

input[type=email]:hover{
    box-shadow: 3px 3px 3px black;
}

input[type=text]:focus{
    box-shadow: 3px 3px 3px black;
}

input[type=number]:focus{
    box-shadow: 3px 3px 3px black;
}

input[type=email]:focus{
    box-shadow: 3px 3px 3px black;
}

#icons{
    height: 50px;
    width:1450px;
    background-color: #8D493A;
    margin-top:100px;
    display: flex;
    justify-content: center;

}

a{
   float: left;
   font-size:30px;
   margin-left: 50px;
   color: antiquewhite;
   margin-left:100px;
   margin-top: 10px;
}

a:hover{
    box-shadow: 0px 0px 5px black;
}





